.fundo-alimentar {
    background-color: #D9D9D9;
    padding: 50px;
}

.refeicao {
    box-shadow: 4px 4px 10px gray;
}

.head-refeicao {
    background-color: #B0ACAC;
    padding: 30px;
    font-weight: bold;
}

.body-refeicao {
    padding: 30px;
    font-weight: bold;
}

.opcao {
    background-color: #A8A8A8;
    padding: 15px;
}
