{% extends 'base_plataforma.html' %}
{% load static %}

{% block 'plataforma' %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <br>
    <div class="row">
        <div class="col-md-3">
            {% if paciente.sexo == "M" %}
                <img src="{% static 'plataforma/img/perfil2.png' %}">
            {% else %}
                <img src="{% static 'plataforma/img/perfil1.png' %}">
            {% endif %}
        </div>
        <div class="col-md-3 dados descricao">
            <h4>{{ paciente.nome }}</h4>
            <h6>{{ paciente.idade }} anos</h6>
        </div>
    </div>
    <hr>
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal">
        Adicionar dados do paciente
    </button>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Peso</th>
            <th scope="col">Altura</th>
            <th scope="col">% gordura</th>
            <th scope="col">% músculo</th>
        </tr>
        </thead>
        <tbody>

        {% for dado in dados_paciente %}
            <tr>
                <th scope="row">{{ dado.peso }} Kg</th>
                <td>{{ dado.altura }} cm</td>
                <td>{{ dado.percentual_gordura }}%</td>
                <td>{{ dado.percentual_musculo }}%</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div style="width: 60%;">
        <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        fetch("/grafico_peso/{{paciente.id}}/", {
            method: 'POST',
        }).then(function (result) {
            return result.json()
        }).then(function (data_paciente) {
            const data = {
                labels: data_paciente['labels'],
                datasets: [{
                    label: 'Peso paciente',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: data_paciente['peso'],
                }]
            };
            const config = {
                type: 'line',
                data: data,
                options: {}
            };
            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        })
    </script>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'dados_paciente' paciente.id %}" method="POST">
                        {% csrf_token %}
                        <h4 class="titulo">Dados do paciente</h4>
                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Peso</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="peso">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">Kg</span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md'>
                                <label for="validationServerUsername">Altura</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="altura">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Percentual de gordura</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="gordura">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md'>
                                <label for="validationServerUsername">Percentual de músculo</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="musculo">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h4 class="titulo">Dados laboratoriais</h4>
                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Colesterol HDL</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="hdl">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mg/dL</span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md'>
                                <label for="validationServerUsername">Colesterol LDL</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="ldl">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mg/dL</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Colesterol total</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="ctotal">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mg/dL</span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md'>
                                <label for="validationServerUsername">Triglicerídios</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="--" name="triglicerídios">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mg/dL</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <input type="submit" value="Cadastrar" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}